body {
    font-family: "Inter", sans-serif;
    background-color: oklch(0.936 0.011 268);
    overflow: hidden;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: content-box;
    transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
    margin: auto;
}
.buttons-container {
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    width: 680px;
    height: 67px;
    margin-left: 45px;
    box-sizing: border-box;
    display: flex;
    gap: 5px;
}
.container-translate {
    position: relative;
    grid-auto-columns: auto;
    flex-direction: row;
    align-items: flex-start;
    width: 662px;
    height: 230px;
    margin-left: 44px;
    margin-top: 80px;
    background-color:oklch(0.962 0.011 268);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 11px;
    justify-content: center;
    text-align: center;
}
textarea {
    font-family: "inter", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    background-color: transparent;
    border: none;
    width: 610px;
    height: 100px;
    resize: none;
    outline: none;
    text-align: center;
    margin: 0 auto;
    transform: translateY(35px);
    color: oklch(0 0.218 255);
    margin-bottom: 36px;
}
textarea:focus::placeholder {
    color: transparent;
  }
textarea::placeholder {
    font-weight: 700;
    font-size: 26px;
    line-height: 28.8px;
    color: oklch(0 0.218 255);
    transition: color 0.5s ease-in-out;
  }

button {
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    width: 328px;
    height: 68px;
    text-align: center;
    border-radius: 11px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.button-primary {
    background: oklch(0.156 0.367 256);
    color: oklch(1 0.011 268);
    border: none;
    transition: color 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.button-primary:hover { 
    filter: brightness(170%);
}
.button-secondary {
    border: 1px solid oklch(0.156 0.367 256);
    color: oklch(0 0.218 255);
    background-color: transparent;
    transition: color 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.button-secondary:hover {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;   
}
.button-copy {
    background-color:oklch(0.962 0.011 268);
     border: 1px solid oklch(0.156 0.367 256);
     width: 626px;
     margin-top: 100;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.button-copy:hover {
    transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;   
}
 .main-content {
    width: 500;
    height: 300;
    margin: auto;
    margin-top: 115px;
    margin-left: 33px;
}
.main-content input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 32px;
    outline: none;
    line-height: 48px;
    border: none;
    background-color: transparent;
    cursor: auto;
    color: oklch(0.156 0.367 256);
    transition: color 0.5s ease-in-out;
}
.main-content input::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 32px;
    line-height: 48px;
    transition: color 0.5s ease-in-out;
    color:oklch(0.156 0.367 256);
}
.seccion-1 {
    text-align: left;
    margin-left: 45px;
    margin-top: 80px;
    display: flex;
    align-items: center;
}
.seccion-1 p {
    font-weight: 300;
    line-height: 48px;
    font-size: 12px;  
    color: oklch(42.76% 0.015 248.17);
}
.seccion-1 svg {
    margin-right: 5px;
    margin-bottom: 2px;
}
.logo-c {
position: relative;
margin-top: 30px;
}
.alura {
    position: relative;
    right: 18px;
  }